/* body {
    background: #ffffff url("img/clippy.png");
    text-align: center;
} */

/* h1,
p {
    color: blueviolet;
} */

h1 {
    font-size: 4rem;
    padding-top: 10rem;
}

.bigger-text {
    font-size: 1.5rem;
}

.container {
    /* background-position: 25% 25%;
    background-repeat: no-repeat;
    background-size: contain; */
    /* height: 85vh;
    width: 85vh; */
    /* height: 50%; */
    /* width: 750px; */
    /* max-width: 750px; */
    margin: auto 10%;
    /* display: block; */
}

.header-pic {
    height: 50%;
    width: 50%
}

a {
    text-decoration: none;
}

.logo {
    vertical-align: middle;
}

.youtube-container {
    display: block;
    width: 100%;
    max-width: 750px;
    margin: 30px auto;
}

.youtube-player {
    display: block;
    margin: 20px auto;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: hand;
    cursor: pointer;
    display: block;
}

img.youtube-thumbnail {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
}

/* div.youtube-play-btn {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("https://freepngimg.com/thumb/categories/1398.png") no-repeat center center;
    background-size: 72px 72px;
} */

.youtube-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}